/********************************
*       RESPONSIVE CSS        *
*******************************/

@media only screen and (max-width: 1280px) {

    /* Navbar*/
    .toggler-lang {
        margin-top: 50px !important;
    }

}

@media only screen and (max-width: 1049px) {


    /* Navbar*/
    .toggler-lang {
        margin-top: initial !important;
    }

}

@media only screen and (max-width: 1023px) {
    /* Genneral Styles */

    .display-under-1023px {
        display: flex !important;
    }

    .display-up-1023px {
        display: none !important;
    }




}

@media only screen and (max-width: 960px) {

    /* General Styles */
    .margin-top-less-80-960px {
        margin-top: -80px !important;
    }

    /* General Styles */
    .padding-25-960px {
        padding: 25px !important;
    }

    .padding-15-960px {
        padding: 25px !important;
    }

    /* Hero Section */
    .hero-section .title {
        font-size: 5rem !important;
    }

}

@media only screen and (max-width: 850px) {

    /* General Styles */
    .padding-25-860px {
        padding: 25px !important;
    }

    .padding-15-860px {
        padding: 25px !important;
    }


}


@media only screen and (max-width: 768px) {

    /* General Styles */
    .padding-50-758px {
        padding: 50px !important;
    }

    .margin-top-less-70-758px {
        margin-top: -70px !important;
    }

    .text-center-758px {
        text-align: center !important;
    }

    /* Hero Section */
    .hero-section .main-title {
        font-size: 4rem !important;
    }

    .hero-section .container {
        padding: 0 1rem !important;
    }

    /* Contact Section */

    #contact .container {
        padding: 0 !important;
    }

    #contact .info-container {
        padding: 0 1rem !important;
    }

    #contact .glass-card {
        padding: 2rem !important;
    }



}
@media only screen and (max-width: 767px) {

        .padding-50-757px {
        padding: 50px !important;
    }


    /* Services Section */
    #services {
        text-align: center !important;
    }

    #services .card {
        width: 80% !important;
        margin: 0 auto !important;
    }

}

@media only screen and (max-width: 639px) {

    /* General Styles */
    .padding-25-639px {
        padding: 25px !important;
    }

    .newsletter .btn {
        height: 50px !important;
        margin-top: 20px;
        width: 250px !important;
        margin-left: -10px;
    }

    .newsletter form {
        padding: 0.5rem !important;
        height: 50px !important;
    }

    .newsletter .recaptcha-button {
        margin-top: 110px !important;
    }

}

@media only screen and (max-width: 560px) {

    /* Hero Section */
    .hero-section .main-title {
        font-size: 3.5rem !important;
    }

    /* Services Section */
    #services .card {
        width: 100% !important;
        margin: 0 auto !important;
    }

}

@media only screen and (max-width: 480px) {

    /* Hero Section */
    .hero-section .main-title {
        font-size: 3rem !important;
    }


}